release/any/*.dll
release/libz/*.dll
release/x64/*.dll
release/x86/*.dll
*.snk
source\Doboz\bin/
source/Doboz/bin/*
source/Doboz/obj/*
source/DobozMM/obj/*
source/DobozN/bin/*
source/DobozN/obj/*
source/DobozS/bin/*
source/DobozS/obj/*
source/Tests/Doboz.Tests.Utilities/bin/*
source/Tests/Doboz.Tests.Utilities/obj/*
source/Tests/Doboz.Tests/bin/*
source/Tests/Doboz.Tests/obj/*
source/ipch/*
source/libDoboz/obj/*
*.nupkg
*.opensdf
*.user

*.suo

*.sdf
